<h1 class="table">Productos Cargados</h1>

{{#if mostrarProductos}}
    <div>
        <table >
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Imagen</th>
            </tr>
    {{#each products}}
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.price}}</td>
                <td><img width="50" src={{this.thumbnail}} alt={{this.id}}></td>
            </tr>
    {{/each}}
        </table>
    </div>
    <button class="btnVolver"><a href="/">Volver</a></button>
    {{else}}
{{> partial}}
{{/if}}